* {
  margin: 0;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Noto Sans TC', sans-serif;
}

/* NAVBAR */

.navbar {
  height: 50px;
  background-color: #0E2F7E;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 50px;;
}

/* BANNER */

.banner {
  position: relative;
  text-align: center;
  font-family: 'Noto Sans TC', sans-serif;
}

.banner-img {
  width: 100vw;
  height: 60vh;
}

.banner-text {
  color: white;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* SECTIONS */


.sections {
  padding: 20px 50px 20px 50px;
}

.city-text {
  text-align: justify;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  width: 70%;
  margin: auto;
  color: #0E2F7E;
}

.line {
  border: 1px solid rgb(220, 218, 218);
  width: 70%;
  margin: auto;
}

.todo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-todo {
  margin: 20px;
  width: 200px;
  height: 200px;
  border: solid 2px rgb(233, 233, 233);
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  overflow: hidden;
  position: relative;
}

.card-todo:hover {
  color:  rgb(17, 17, 131);
  border: solid 2px rgb(17, 17, 131);
  cursor: pointer;
}

.card-image {
  width: 180%;
}

.todo-text {
  position: absolute;
  color: white;
  font-size: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsla(0, 0%, 0%, 0.6);
}

.card-info {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  margin: 18px;
  width: 200px;
  height: 160px;
  border: solid 2px rgb(233, 233, 233);
  border-radius: 10px;
  font-size: 18px;
}

.card-info:hover {
  color:  rgb(17, 17, 131);
  border: solid 2px rgb(17, 17, 131);
  cursor: pointer;
}

.card-text {
  width: 170px;
  text-align: center;
  font-weight: bold;
}

.card-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-icon {
  width: 25%;
  margin: 5px;
  color: white;
}

.emergency {
  font-size:18px;
}

//#F6F6F6