* {
  margin: 0;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Noto Sans TC', sans-serif;
}

/* NAVBAR */

.navbar {
  height: 50px;
  background-color: #0E2F7E;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 50px;;
}

/* BANNER */

.banner {
  position: relative;
  text-align: center;
  font-family: 'Noto Sans TC', sans-serif;
}

.banner-img {
  width: 100vw;
  height: 60vh;
}

.banner-text {
  color: white;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* SECTION CITY  */


.sections {
  padding: 20px 50px 20px 50px;
}

.city-text {
  text-align: justify;
}


/* SECTIONS TO DO AND AFTER */


.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  width: 75%;
  margin: auto;
  color: #0E2F7E;
}

.line {
  border: 1px solid rgb(220, 218, 218);
  width: 75%;
  margin: auto;
}

a {
  text-decoration: none; /* no underline */
  color: black;
}


.todo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-todo {
  margin: 20px;
  width: 200px;
  height: 200px;
  border: solid 8px rgb(233, 233, 233);
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  overflow: hidden;
  position: relative;
}

.card-todo:hover {
  color:  #0E2F7E;
  border: solid 8px #0E2F7E;
  cursor: pointer;
}

.card-photo {
  width: 180%;
}

.todo-text {
  position: absolute;
  color: white;
  font-size: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsla(0, 0%, 0%, 0.6);
}

/* Top recomendations */

.card-picks {
  margin: 20px;
  width: 200px;
  height: 300px;
  border: solid 8px rgb(233, 233, 233);
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.picks-image {
  height: 60%;
  width: 100%;
  border-bottom: solid 4px rgb(233, 233, 233);
}

.picks-title {
  font-weight: bold;
  font-size: 16px;
  margin: 10px 10px 5px 10px;
}

.picks-local {
  font-size: 14px;
  margin: 0px 0px 5px 10px;
}

.picks-text {
  font-size: 12px;
  margin: 0px 0px 0px 10px;
}

.pick-icon {
  width: 8%;
}

/* Useful Information */

.card-info {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  margin: 20px 15px 0px 15px;
  width: 170px;
  height: 100px;
  border: solid 2px rgb(233, 233, 233);
  border-radius: 10px;
  font-size: 16px;
}

.card-info:hover {
  color: #0E2F7E;
  border: solid 2px #0E2F7E;
  cursor: pointer;
}

.card-text {
  text-align: center;
  font-weight: bold;
}

.card-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-icon {
  width: 20%;
  margin: 0px 5px 10px 5px;
  color: white;
}

.emergency-icon {
  width: 20%;
  margin: 0px;
}

/* .emergency {
  border: solid 2px #F93E2B;
  color: black;
  cursor: auto;
} */

.emergency:hover {
  cursor: none;
  border: solid 2px #F93E2B;
  color: black;
}
